{% extends 'webapp/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container ">
    <div class="row mt-5">
     <div class="col-md-6 offset-md-3">
        
         <div class="border p-3 bg-light">
             <h3> Update a record </h3>
             <hr>
             <form method="POST">
                 {% csrf_token %}
                 {{form.first_name|as_crispy_field }}
                 <br>
                 {{form.last_name|as_crispy_field }}
                 <br>
                 {{form.email|as_crispy_field}}
                 <br>
                 {{form.phone|as_crispy_field}}
                 <br>
                 {{form.state|as_crispy_field}}
                 <br>
                 {{form.city|as_crispy_field}}
                 <br>
                 {{form.country|as_crispy_field}}
                 <br>
             
             <button type="submit" class="btn btn-primary "> Update record &nbsp; <i class="fa-solid fa-pencil"></i> </button>
             <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return &nbsp;<i class="fa-solid fa-arrow-left"></i> </a>
             
         </form>
         </div>
     </div>
    </div>
 </div>

{% endblock %}